# Logs Format
LOG_LEVEL=INFO # DEBUG | INFO

# Local Server to Internet
NGROK_TOKEN=
PORT=

# Database <url>:3306/<db_name>?ssl_verify_cert=false
URL_CONNECTION=
# Telegram
PAPI_BOT_KEY=

# LLM Models
LLM_PROVIDER= # llama | gemini
GEMINI_MODEL=
GEMINI_API_KEY=
GEMINI_TIMEOUT=30
LLAMA_MODEL=

# Redis State Storage 
REDIS_URL=