# Logs Format
LOG_LEVEL= # DEBUG | INFO

# Local Server to Internet
NGROK_TOKEN=
PORT=

# Base url for stripe
PUBLIC_BASE_URL=

# AWS Credentials
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Database
URL_CONNECTION=

# Telegram
PAPI_BOT_KEY=

# LLM Models
LLM_PROVIDER= # llama | gemini
GEMINI_MODEL=
GEMINI_API_KEY=
GEMINI_TIMEOUT=
LLAMA_MODEL=

# Redis State Storage 
REDIS_URL=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_CURRENCY=